.header-container {
  padding: 10px;
}

.amount {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  font-size: 70px;
  color: black;
  line-height: 88.56px;
}

.currency {
  font-size: 30px;
  margin-top: 5px;
  color: darkgray;
}

.change {
  margin-top: 10px;
  font-size: 16px;
}

.change-value {
  font: circular std;
  font-weight: 400;
  font-size: 18px;
  line-height: 22.77px;
  color: #67BF6B;
}
